body {
    background-color: rgb(2, 84, 43);
}


table.table {
    margin-top: 10%;
}

button {
    border-style: solid;
    height: 70px;
}

th {
    border-style: solid;
}

td {
    border-style: solid;
    display: flex;
    right: -100px;
    justify-content: center;
    align-items: center;
    position: left;
    border-radius: 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: white;
    height: 200px;
    width: 150px;
}